@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-start-hsl: 14 90% 97%; /* Very Light Orange */
    --background-end-hsl: 320 85% 98%; /* Very Light Magenta */
    --hero-background-start-hsl: 14 90% 95%;
    --hero-background-end-hsl: 320 85% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 25 100% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 14 90% 55%; /* Fiery Orange */
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 346.8 91.6% 80%;
    --secondary-foreground: 346.8 91.6% 30%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 320 85% 55%; /* Bright Magenta */
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 14 90% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background-start-hsl: 224 71.4% 4.1%;
    --background-end-hsl: 224 71.4% 8%;
    --hero-background-start-hsl: 251 37% 17%;
    --hero-background-end-hsl: 227 29% 14%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 6%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 14 90% 65%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 346.8 91.6% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 320 85% 65%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 14 90% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(
      to bottom right,
      hsl(var(--background-start-hsl)),
      hsl(var(--background-end-hsl))
    );
  }
}

@layer components {
  .btn-gradient {
    @apply text-white font-bold py-2 px-4 rounded;
    background-image: linear-gradient(
      to right,
      hsl(var(--primary)) 0%,
      hsl(var(--accent)) 51%,
      hsl(var(--primary)) 100%
    );
    background-size: 200% auto;
    transition: background-position 0.5s;
  }
  .btn-gradient:hover {
    background-position: right center;
  }
}
